.wholeContainer {
  display: flex;
  position: absolute;
  top: 75px;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.261);
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  position: absolute;
  top: 15px;
  min-width: 250px;
  max-width: 700px;
  width: 80vw;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #e2dddd;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.boxUser,
.boxMascotas {
  width: 95%;
  background-color: rgba(218, 219, 219, 0.418);
  box-shadow: 0px 2px 10px -6px rgba(0, 0, 0, 0.75);
}

.boxVet{
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.nameBox {
  display: flex;
  flex-direction: column;
}



.tableIcon{
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all ease-out 0.5s;
  padding: 4px;
}

@media screen and (min-width: 410px) {
  .nameBox {
    flex-direction: row;
    gap: 5px;
  }
}

@media screen and (min-width: 575px) {
  .iconTextPet {
    width: 155px;
  }
}
