.tablaContainer {
  max-width: 950px;
}

.tabla {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0px 6px 20px -7px rgba(0, 0, 0, 0.301);
  width: 80vw;
  max-width: 800px;
}

.tabla tr td,
.tabla tr th {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 600px;
  max-width: 60%;
  transition: all 0.1s;
}

.tabla tr th:first-child,
.tabla tr td:first-child {
  width: 80%;
}


.tabla tr td:nth-child(2),
.tabla tr th:nth-child(2),
.tabla tr td:nth-child(2),
.tabla tr th:nth-child(3) {
  width: 5%;
  max-width: 55px;
}


.iconCont {
  border-radius: 30px;
  width: 35px;
  height: 35px;
  transition: all ease-out 0.5s;
}

.tableIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: all ease-out 0.5s;
  padding: 4px;
}

.tableIcon:hover {
  transform: scale(1.1);
}
.iconCont:hover {
  background-color: #3fb88596;
}

.fila {
  cursor: pointer;
}
